aiooui==0.1.5
autopep8==1.5.7
bleak==0.21.1
bluetooth-adapters==0.18.0
certifi==2023.5.7
charset-normalizer==3.2.0
colour==0.1.5
dbus-fast==1.86.0
dbus-next==0.2.3
flake8==3.9.2
flake8-quotes==3.3.0
idna==3.4
mariadb==1.1.10
mccabe==0.6.1
packaging==23.2
prometheus_client==0.20.0
pycodestyle==2.7.0
pyflakes==2.3.1
python-dotenv==1.0.0
pytimefliplib @ git+https://gitea.chiliahedron.wtf/john-craig/pytimefliplib.git@500eb35bced583fdf5429fd01aa6652ba1ca5ced
requests==2.31.0
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
toml==0.10.2
typing_extensions==4.9.0
urllib3==2.0.4
usb-devices==0.4.5
